@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: rgb(255, 55, 199);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.249 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 80px;
}

*::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 80px;
  height: 60px;
}

.orbs_StepIndicatorLine {
  background-color: var(--primary) !important;
}
.orbs_StepIndicator {
  background-color: var(--accent) !important;
}

.twap-create-order-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.twap-create-order-details {
  background: var(--card);
  padding: 10px;
  border-radius: 10px;
}
.twap-create-order-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.twap-order-details__detail-row-label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
}

.twap-order-details__detail-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.orbs_MainTokenLeft {
  gap: 4px !important;
}
.orbs_MainTokenTitle {
  font-size: 14px;
  color: var(--foreground);
  opacity: 0.8;
}

.orbs_MainTokenAmount {
  font-size: 20px;
  color: var(--foreground);
  font-weight: 600;
}

.orbs_MainTokenUsd {
  font-size: 14px;
  color: var(--muted-foreground);
  opacity: 0.9;
}


.twap-order-details__detail-row-value-usd {
  opacity: 0.7;
}

.orbs_TradeStepLayout  .orbs_TradePreviewToken p{
  font-size: 14px;
  font-weight: 500;
}

.orbs_TradeStepLayout .twap-token-logo {
  width: 24px;
  height: 24px;
}

.orbs_TradeStepLayout .orbs_TradeStepLayoutTitle {
  font-size: 18px;
  font-weight: 500;
}

.twap-orders__list  {
  max-height: 600px;
  height: 80vh;
}

.twap-orders__list-item {
  margin-bottom: 5px;
}

.twap-orders__list-item-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--card);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.twap-orders__list-item-content:hover {
  background: var(--accent);
}

.twap-orders__list-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twap-orders__list-item-header-title {
  font-size: 13px;
}
.twap-orders__list-item-header-status {
  font-weight: 500;
  font-size: 12px;
}

* {
  outline: none !important;
}

[data-sonner-toast][data-styled=true] [data-close-button] {
  color: var(--foreground) !important;
  border: 1px solid var(--border) !important;
}
[data-sonner-toast][data-styled=true] [data-close-button]:hover {
 background: var(--accent) !important;
}

.orbs_Success .orbs_TradePreviewToken img {
  width: 24px;
  height: 24px;
}

.orbs_Success .token-logo {
  width: 24px;
  height: 24px;
}

.twap-orders__list-item-token {
  display: flex;
  align-items: center;
  gap: 5px;
}


.twap-orders__list-item-tokens {
  display: flex;
  align-items: center;
  gap: 10px;
}

.twap-orders__list-item-token p{
  font-size: 13px;
  font-weight: 500;
}

.twap-orders__list-item-token-logo .twap-token-logo {
  width: 20px;
  height: 20px;
}

.twap-orders__list-item-progress {
  display: flex;
  align-items: center;
  gap: 10px;
}

.twap-orders__list-item-progress-bar {
  border-radius: 20px;
  height: 6px;
  width: 100%;
  background: var(--border);
}

.twap-orders__list-item-token-progress-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--foreground);
  opacity: 0.7;
  width: 47px;
  text-align: right;
}

.twap-orders__list-item-progress-bar-filled {
  border-radius: 20px;
  height: 100%;
  background: var(--primary);
}

.twap-orders__selected-order-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.twap-orders__selected-order-accordions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.twap-orders__selected-order-accordion {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--card);
  border-radius: 10px;
}

.twap-orders__selected-order-accordion-trigger {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  cursor: pointer;
}

.twap-orders__selected-order-accordion-details{
  background: var(--card);
  padding: 10px;
  padding-top: 0;

}

.twap-order-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.twap-order-details__detail-row-value-id {
  display: flex;
  align-items: center;
  gap: 5px;
}

.twap-order-details__detail-row-value-id svg {
  width: 16px;
  height: 16px;
  color: var(--foreground);
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.twap-order-details__detail-row-value-id svg:hover {
  opacity: 1;
  transform: scale(1.1);
}

.twap-order-details__detail-row-value {
  font-size: 13px;
  font-weight: 500;
}

.twap-orders__list-item-CANCELED   .twap-orders__list-item-header-status {
  color: var(--destructive);
}

.twap-orders__list-item-EXPIRED   .twap-orders__list-item-header-status {
  color: var(--destructive);
}

.twap-orders__list-item-COMPLETED   .twap-orders__list-item-header-status {
  color: #00C853;
}

.twap-orders__list-item-OPEN   .twap-orders__list-item-header-status {
  color: var(--primary);
}

#order-history-button {
  width: 100%;
}